.modal-header
  %h3 Game Over
.modal-body
  - if @win == 'draw'
    %h4 Match Draw !!! Play Again
  - else
    %h4 #{@win.bot ? 'Computer' : @win.username.humanize} Won !!!
  = link_to 'Practice Again', practise_games_path, class: 'btn btn-primary'
.modal-footer
  = link_to 'Close', '#', data: {dismiss: 'modal'}, class: 'btn'
