= render template: 'welcome/index'

:javascript
  $(document).ready(function(){
    $('.nav.nav-tabs li.sign_in').removeClass('active');   
    $('.nav.nav-tabs li.sign_up a').tab('show');
    $('.sign_in_form div').removeClass('error');
    $('.sign_in_form div').find('span.help-inline').remove()
  }); 
