.row
  .span4.well
    .row
      .span1
        %img{src: current_user.image.url(:thumb)}
      .span3 
        %p= current_user.username
        %p
        %span.badge.badge-warning
          #{@no_of_match} game played
        %span.badge.badge-info
          #{@no_of_win} game won
  .span6{style: 'padding-left: 100px; position: relative; top: -20px;'}
    =form_for(current_user, url: "/#{current_user.username}/upload_profile", method: 'post', html: {multipart: true}) do|f|
      .row
        %img{src: current_user.image.url, id: '#img_prev'}
      .row
        %span.btn.btn-success.fileinput-button
          %i.icon-plus.icon-white
          %span Upload Profile
          %input{type: 'file', id: 'fileupload', onchange: "readURL(this);", name: 'user[image]'}
        %button{type: 'submit', class: 'btn btn-primary start'}
          %i.icon-upload.icon-white  
          %span
            Submit
.row.preview-img
  
      
:javascript
  function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
  
    reader.onload = function (e) {
      $('#img_prev')
      .attr('src', e.target.result)
      .width(150)
      .height(200);
    };
  
    reader.readAsDataURL(input.files[0]);
    }
  }
  $(document).ready(function(){
    //$('#fileupload').fileupload();
  }); 
