%h2 Top Bidders
.row-fluid
  %table.table.top_bidders
    %tr
      %th Rank
      %th User
      %th Points
    - @users.each_with_index do |user, index|
      %tr
        %td= index + 1
        %td
          = image_tag (user.image_url ? user.image_url : 'no_image.jpg'), size: '48x48'
          = user.username.humanize
        %td= user.points

