#rule
  %p
    %span.badge.badge-inverse 1
    Its a Two Player Game. Both players get $30 at the start of game.
  %p
    %span.badge.badge-inverse 2
    Players have to bid to win their beer.
  %p
    %span.badge.badge-inverse 3
    Beer is placed at the center of table 3 steps away from each player.
  %p
    %span.badge.badge-inverse 4
    Each winning bid pulls the beer closer to you.
  %p
    %span.badge.badge-inverse 5
    Only the winner's money reduces by the bid amount.
  %p
    %span.badge.badge-inverse 6
    Both players can see how much money they have left at all times.
  %p
    %span.badge.badge-inverse 7
    Bidding amount must be greater then $0.
  %p
    %span.badge.badge-inverse 8
    Player who get the beer, rejoices. The other drowns in sorrow!
  %p
    %span.badge.badge-inverse 9
    If beer remains in the middle, the bartender gets it!
