.span6
  .well
    %h3 Rules
    = render 'games/rules'
.span4.rule_container
  = link_to 'Play', new_game_path, class: 'btn btn-large btn-primary'
  = link_to 'Practise', practise_games_path, class: 'btn btn-large btn-primary'

