.row_top
  - if current_user.guest
    .alert.alert-block
      = link_to 'X', '#', class: 'close', data: { dismiss: 'alert'}
      %h4 You are Signed In as Guest user, your record will be lost once you sign out. Please Sign in Using Twitter.
  .span8
    .well
      %h3 Rules
      = render 'games/rules'
  .span3.rule_container
    = link_to 'Play', new_game_path, class: 'btn btn-large btn-primary'
    = link_to 'Practise', practise_games_path, class: 'btn btn-large btn-primary'
