.well
  = form_tag "/", class: 'form-horizontal'  do |f|
    %legend
      Game Started
    .control-group
      .control-label
        Online Player for invite
      .controls 
        %select.selectpicker.online_user_select.span4{multiple: 'multiple'}
     
    .form-actions
      %button.btn.btn-warning{type: 'Submit'}
        Invite User     
      %button.btn.btn-danger
        Cancel Invite
:javascript  
  $(document).ready(function(){
      });   
