.row_top
  .well
    = form_for @game_invite, remote: true, html: {class: 'form-horizontal'}  do |f|
      %legend
        %h3 Invite Online Players
      .control-group
        .control-label
          Online Players
        .controls
          %select.selectpicker.online_user_select.span4{multiple: 'multiple', name: 'game_invite[receiver_user_id]', size: 10}

      .form-actions
        %button.btn.btn-warning{type: 'Submit'}
          Invite User
        = link_to 'Back to Practice', practise_games_path, class: 'btn btn-primary'
:javascript
  $(document).ready(function(){
      });
